.card {
  position: relative;
  width: 280px;
  height: 400px;
  background-color: #fafafa;
  border: 1px solid #bbbbbb;
  color: #5c5c5c;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0;
  align-items: center;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  img {
    border-radius: 0.5rem;
    z-index: 1;
  }
  p {
    text-align: center;
    font-weight: 600;
    
  }
  padding: 10px 0;
  button {
    width: 92%;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    border-radius: 0.5rem;
    padding: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #000000c5;
      border: 2px solid #000;
    }
  }
  .added {
    transform: scale(1.04);
  }
}